@tailwind base;
@tailwind components;
@tailwind utilities;


/* DM Sans Font */
.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Noir Pro fallback (medium style) */
.noir-pro {
  font-family: "Noir Pro", "DM Sans", sans-serif;
  font-weight: 500;
}
