@tailwind base;
@tailwind components;
@tailwind utilities;


/* DM Sans Font */
.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Noir Pro fallback (medium style) */
.noir-pro {
  font-family: "Noir Pro", "DM Sans", sans-serif;
  font-weight: 500;
}

@keyframes scroll-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-rtl {
  animation: scroll-rtl 25s linear infinite;
}
